.type_box {
    position: absolute;
    z-index: 10;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);

    width: 88%;
    max-height: 160px;
    border-radius: 25px;
    background-color: rgb(63, 62, 62);
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.6), -10px -10px 20px 0px rgba(0, 0, 0, 0.6);
    display: flex;
    padding: 10px 20px;
    flex-direction: row;
    gap: 7px;
    align-items: flex-start;
    font-family: inherit;
    transition: 0.2s ease;
}

/* Type Box Upload */

.type_box_util {
    position: absolute;
    left: 25px;
    top: 11px;
    background-color: transparent;
    background-image: url("/plus-gray.png");
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    transition: 0.1s ease-in;
}

.type_box_util:hover {
    background-color: rgb(186, 186, 186);
    background-image: url("/plus-black.png");
    opacity: 0.7;
}

.type_box_util_upload{
    position: absolute;
    z-index: 100;
    top: -170px;
    left: 5px;

    background-color: rgb(63, 62, 62);
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.2), -10px -10px 20px 0px rgba(0, 0, 0, 0.2);

    display: flex;
    flex-direction: column;

    padding-block: 12px;
    padding-inline: 10px;
    border-radius: 10px;

    opacity: 0;
    transform: translateY(20px);
    transition: 0.2s ease-in;
    pointer-events: none;
}

.type_box_util_upload.show{
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0px);
}

.upload_optn{
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;

    padding-inline: 10px 20px;
    padding-block: 2px;
    border-radius: 10px;

    opacity: 0;
    pointer-events: none;
    transform: translateX(-10px);
    transition: 
        backgorund-color 0.1s ease-in,
        opacity 0.6s ease,
        transform 0.6s ease;
}

.upload_optn input[type="file"]{
    opacity: 0;
    display: block;
    width: 120px;
    padding-inline: 10px;
    padding-block: 10px;
}

.upload_optn_dis{
    position: absolute;
    display: flex;
    align-items: center;
    gap: 5px;

    font-weight: 400;
    color: white;
}

.upload_optn img{
    width: 32px;
}

.upload_optn:hover{
    background-color: rgb(45, 45, 45);
}

.upload_optn.show{
    pointer-events: auto;
    opacity: 1;
    transform: translateX(0px);
}

.upload_optn.show:nth-child(1) {
    transition-delay: 0.0s;
}

.upload_optn.show:nth-child(2) {
    transition-delay: 0.1s;
}

.upload_optn.show:nth-child(3) {
    transition-delay: 0.2s;
}

/* File Preview Styles */

.file_preview{
    position: absolute;
    top: -115px;
    left: 5px;

    display: flex; 
    padding-block: 10px;
    padding-inline: 10px 32px;
    background-color: rgb(63, 62, 62);
    color: white;
    font-size: 1.1rem;
    border-radius: 10px;
    height: 95px;
    max-width: 65%;
}

.file_preview_btn, .image_preview_btn{
    position: absolute;
    right: 6px;
    top: 4px;
}

.file_preview_btn button, .image_preview_btn button{
    font-size: 0.7rem;
    padding: 2px 5.5px;
    border-radius: 50%;
    background-color: transparent;
    transition: 0.1s ease;
    align-self: flex-start;
}

.file_preview_btn button:hover, .image_preview_btn button:hover{
    background-color: rgb(45, 45, 45);
}

.file_preview_video{
    padding: 4px;
    background-color: rgb(45, 45, 45);
    border-radius: 10px;
}

.file_preview_document{
    background-color: rgb(45, 45, 45);
    border-radius: 10px;
    color: white;
    font-size: 0.9rem;
    padding: 10px;
    display: flex;
    align-items: center;
    min-width: 100px;
}

/* Image Previews */
.image_preview_container{
    position: absolute;
    top: -135px;
    left: 5px;
    display: flex; 
    gap: 15px;
    flex-wrap: wrap;
    padding-block: 10px;
    padding-inline: 10px;
    background-color: rgb(63, 62, 62);
    color: white;
    font-size: 1.1rem;
    border-radius: 10px;
    height: 120px;
    max-width: 70%
}

.image_preview_item{
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 10px;
    padding-inline: 12px 30px;
    border-radius: 10px;
    position: relative;
    width: 120px;
    overflow: hidden;                     
}

.image_preview_item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;         
}

/* Type Box Text Area */
.type_box textarea {
    resize: none;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;

    width: 85%;
    font-size: 1rem;
    margin-left: 60px;
    padding: 5px 0;
    line-height: 1.4;

    min-height: 25px;
    max-height: 100px;
    overflow-y: auto;
}

.type_box textarea::placeholder{
    color: white;
}

.type_box textarea::-webkit-scrollbar{
    width: 0;
}

.type_box:focus-within{
    border: 1px sloid var(--button-color);
}

.type_box_send{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    border-radius: 50%;
    transition: 0.2s ease;
}

.type_box_send img{
    min-width: 22px;
    width: 80%;
    margin-left: 1px;
}

.type_box_send:hover{
    filter: grayscale(1);
}
